body {
     font:normal 12px tahoma, verdana, helvetica;
     background: white;
}

.fildesc {
  margin:10px;
  border-collapse: collapse;
  border-bottom:hidden;
}

.filedesc th {
    font-weight: bold;
    text-align: center;
    background-color: #ddd;
}

.filedesc td {
    text-align: right;
}
