.ui-dropslide      { position:absolute; }
.ui-dropslide ol   { margin-top:2px; list-style:none;height:.9em; margin-left: -2em; }
.ui-dropslide li   { float:left;}
.ui-dropslide span {
    font-size:.7em;
    padding:4px 6px 4px 6px;
    margin-left:2px;
    text-align:center;
    cursor:pointer;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    display:block;
    text-align:center;
}
.ui-timepickr ol li.hour, 
.ui-timepickr ol li.minute, 
.ui-timepickr ol li.second { width:30px; }

.ui-timepickr ol li.hour {position:relative;} 
